0. Удаление дубликатов:
   Напишите функцию remove_duplicates(lst), которая принимает список и возвращает новый список, содержащий только уникальные элементы исходного списка.

In [ ]:
def remove_dublicate(lst):
  set_lst = set(lst)
  lst2 = list(set_lst)
  return lst2

In [ ]:
list1 = [1, 5, 1, 8, 8, 1, 6] #список
list2 = remove_dublicate(list1)
print(list2)

[8, 1, 5, 6]

1. Проверка на палиндром:
   Создайте функцию is_palindrome(lst), которая принимает список и проверяет, является ли он палиндромом (т.е. читается одинаково с обеих сторон). Функция должна возвращать True или False.

Вариант 1

In [ ]:
def is_palindrome(lst):
  middle = len(lst) // 2 #// - деление без остатка
  for i in range(0, middle):
    if i - i == 0:
      return True
    else:
      return False

In [ ]:
list3 = [1, 2, 3, 2, 1]
list4 = is_palindrome(list3)
print(list4)

True

Вариант 2

In [ ]:
def is_palindrome2(lst):
  if lst == lst[::-1]:
    return True
  else:
    return False

In [ ]:
list3 = [1, 2, 3, 2, 1]
list4 = is_palindrome2(list3)
print(list4)

True

Вариант 3

In [ ]:
def is_palindrome3(lst):
  if lst == reversed(lst):
    return True
  else:
    return False

In [ ]:
list3 = [1, 2, 3, 2, 1]
list4 = is_palindrome(list3)
print(list4)

True

2. Ротация списка:
   Напишите функцию rotate_list(lst, n), которая принимает список и число n, и возвращает новый список, который является результатом циклической ротации исходного списка на n позиций вправо. Если n отрицательное, ротация должна происходить влево.

In [ ]:
def rotate_list(lst, n): #просто вырезать и удалять местами
  animals.sort()

In [ ]:
my_list = [1, 2, 3, 4, 5]
number = 2
my_list_rotate = rotate_list(my_list, number)
print(my_list_rotate)

[3, 4, 5]

# **tuple**

**Кортеж** - значение по порядку. Список можно менять, но кортеж нельзя. Из кортежа можно извлекать элементы.

In [ ]:
tup1 = (1, 7, 5, 7, 1)
print(tup1)
print(tup1[1])
#tup1[1] = 17 кортеж не поддерживает назначения, но можно брать срезы
print(tup1[1:3])
print(tup1[:1]) #выдаст "1,"

(1, 7, 5, 7, 1)
7
(7, 5)
(1,)

Кортежи особенно популярны, когда у нас несколько значений

In [ ]:
name1, name2, name3 = 'Петя', 'Вася', 'Коля'

In [ ]:
name1, name2, name3 = ['Петя', 'Вася', 'Коля']
print(name2)

Вася

In [ ]:
name1, name2, name3 = 'Юра'
print(name2)

р

Объединяет кортежи

In [ ]:
tup1 = 1, 5, 7
tup2 = 4, 8, 3
tup3 = tup1 + tup2
print(tup3)

(1, 5, 7, 4, 8, 3)

In [ ]:
if 5 in tup1:
  print("Бинго!")

Бинго!

In [ ]:
def calcul(i):
  a = i
  b = i * i
  c = i * i * i
  return a, b, c

  for item in enumerate.list1:
    print(item)

Написать функцию, которая принимает два кортежа и выдаёт третий кортеж из 1 и 2 без повторений

In [ ]:
def appended_tuples(first, second):
  third = first + second
  third_set = set(third)
  return(third_set)

In [ ]:
tupl1 = (1, 2, 3, 4, 5)
tupl2 = (3, 4, 5, 6, 7, 8)
tupl3 = appended_tuples(tupl1, tupl2)
tuple3 = tuple(tupl3)
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)