In [ ]:
total = 0
vasya = 0
john = 0
names = set()

In [ ]:
vasya_times = 0
john_times = 0

In [ ]:
with open('berries.txt', encoding='utf-8') as f:
  for line in f:
    items = line.split()
    weight = int(items[1])

    names.add(items[0])
    total = total + weight
    if items[0] == 'Вася':
      vasya = vasya + weight
      vasya_times += 1
    elif items[0] == 'Джон':
      john = john + weight
      john_times += 1

In [ ]:
names

{'Вася', 'Глеб', 'Джон', 'Илон', 'Лена', 'Петя', 'Саша', 'Таня'}

In [ ]:
print('Всего собрали якод:', total)

Всего собрали якод: 1473

In [ ]:
print('Вася собрал:', vasya, ', и он приходил', vasya_times, 'раз')

Вася собрал: 234 , и он приходил 50 раз

In [ ]:
print('Джон собрал:', john, ', и он приходил', john_times, 'раз')

Джон собрал: 254 , и он приходил 51 раз